:root{
    /*===================
            FONTE
    ======================*/
    
    --font-Geral: "Sora", sans-serif;;
    --font-terminal: "Fira Code", monospace;;
    --font-title: "Chakra Petch", sans-serif;;
    
    /*===================
            FUNDO/BASE
    ======================*/
    
    --bg: #050b0f;
    --bg2: #091119 /*Fundo Secundario & Body-Cards*/;
    --bg3: #14222eba /*Header-Cards*/;
    
    /*===================
            TEXTO
    ======================*/
    --texto: #94a3b8;
    --texto-secundario:#fff;

    /*=============================
            CORES DE DESTAQUE 
    ===============================*/
    --cor01: #00EEFF;
    --cor01-bg: #00EEFF0d;
    --cor01-borda:#00EEFF5b;
    --cor01-brilho: #00EEFF26;
    
    --cor02: #3CFF14;
    --cor02-bg: #3CFF140d;
    --cor02-borda:#3CFF145b;
    --cor02-brilho: #3CFF1426;

    --cor03:#EF4444;
    --cor04-borda: #94a3b85b;
}
#CONTACTO{
    padding: 0 15px;
    margin-top: 50px;
    padding-bottom: 70px;
    background-color: var(--bg2);
}
#CONTACTO > header{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#CONTACTO > header > div{
    font-family: var(--font-terminal);
    color: var(--cor02);
    margin-bottom: 10px;
}
#CONTACTO > header > h2{
    color: var(--texto-secundario);
    font-family: var(--font-title);
    margin-bottom: 20px;
}
#CONTACTO > header > p{
    text-align: center;
    font-size: 0.9675rem;
    margin-bottom: 50px;
}
form{
    border: 1px solid var(--cor04-borda);
    background-color: var(--bg);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
label{
    font-family: var(--font-terminal);
    color: var(--cor02);
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
}
input{
    margin-bottom: 20px;
    background-color: var(--bg2);
    border: 1px solid var(--cor04-borda);
    padding: 10px;
    font-family: var(--font-terminal);
}
input:focus, textarea:focus{
    outline: none;
    border: 2px solid var(--cor02);
}
textarea{
    margin-bottom: 20px;
    background-color: var(--bg2);
    border: 1px solid var(--cor04-borda);
    padding: 10px;
    font-family: var(--font-terminal);
    height: 100px;
    resize: none;
}
#enviar{
    cursor: pointer;
    background-color: var(--cor02-active);
    color: var(--cor02);
    border: 1px solid var(--cor02-borda);
    padding: 10px;
    font-weight: 500;
    font-family: var(--font-terminal);
}
.contactos{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    height: 300px;
}
.contactos > a{
    border: 1px solid var(--cor04-borda);
    text-decoration: none;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--bg);
    font-family: var(--font-terminal);
    font-size: 13px;
}
.contactos > a:nth-child(6){
    color: var(--cor02);
    border-color: var(--cor02-borda);
    box-shadow: 0 0 12px 3px var(--cor02-brilho);
    background-color: #3bff1419;
}
.contactos > a:nth-child(6) > i{
    color: var(--cor02);
}
.contactos > a > i{
    font-size: 20px;
}
.contactos > a > div{
    font-weight: 700;
    font-size: 16px;
}
@media screen and (max-width:500px){
    #enviar:active{
        background-color: #3bff1465;
        color: var(--cor02);
        border: 1px solid var(--cor02);
        padding: 10px;
    }
}
@media screen and (min-width:1024px) {
    #CONTACTO{
        padding: 0 70px;
        height: 100vh;
        padding-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #CONTACTO > header > div{
        font-size: 1.5rem;
    }
    #CONTACTO > header > h2{
        font-size: 3rem;
    }
    #CONTACTO > header > p{
        font-size: 15px;
        width: 500px;
    }
    #container-contacto{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }  
}
@media screen and (min-width:1280px){
    #CONTACTO{
        
        padding: 0 100px;
        
    }
    #CONTACTO > header > p{
        font-size: 17px;
        width: 600px;
    }
    #enviar{
        transition: 0.2s;
    }
    #enviar:hover{
        background-color: #3bff1465;
        color: var(--cor02);
        border: 1px solid var(--cor02);
        padding: 10px;
    }
    #container-contacto{
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .contactos{
        margin-top: 40px;
        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 15px;
        height: 300px;
    }
    .contactos > a{
        border: 1px solid var(--cor04-borda);
        text-decoration: none;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--bg);
        font-family: var(--font-terminal);
        font-size: 16px;
    }
    .contactos > a:nth-child(6){
        color: var(--cor02);
        border-color: var(--cor02-borda);
        box-shadow: 0 0 12px 3px var(--cor02-brilho);
        background-color: #3bff1419;
    }
    .contactos > a:nth-child(6) > i{
        color: var(--cor02);
    }
    .contactos > a > i{
        font-size: 25px;
    }
    .contactos > a > div{
        font-weight: 700;
        font-size: 20px;
    }
}