@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    font-family: var(--font-Geral);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --font-Geral: "Sora", sans-serif;;
    --font-terminal: "Fira Code", monospace;;
    --font-title: "Chakra Petch", sans-serif;;
    --destaque-G:#3CFF14;
    --destaque-A: #00EEFF;
    --normal-texto: #94a3b8;
    --borda-inferior-menu-mobile: #13232f;
    --bg-menu: #050b0ff2;
    --fundo: #050b0f;
    --fundo-destaque-G: #3cff140d;
    --fundo-destaque-A: #00EEFF0d;
    --cor1: #091119;
    --cor2: #fff;
    --cor3:#EF4444;
}
body{
    background-color: var(--fundo);
}
.nTitle > .title {
    font-family: var(--font-title);
    font-weight: bolder;
    font-size: 1.5rem;
    color: #fff;
}
.nTitle {
    font-family: var(--font-terminal);
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;
    width: fit-content;
    
}
.nTitle::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 65px;
    height: 4px;
}
.cornerr {
    position: absolute;
    width: 7px;
    height: 7px;
}