#HABILIDADES{
    border-top: 1px solid #13232F;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 15px;
    background-color: var(--cor1);
    border-bottom: 1px solid #13232F;
    
}
#HABILIDADES > header > .corN{
    color: var(--destaque-A);
}
#HABILIDADES .nTitle::after {
    background-color: var(--destaque-A);
}
.container-skills{
    margin-top: 50px;
}
.skill-container{
    padding: 15px;
    border: 1px solid;
    color: #94a3b867;
    position: relative;
}
.skill-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    border-top: 2px solid var(--normal-texto);
    border-left: 2px solid var(--normal-texto);
}
.skill-container::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid var(--normal-texto);
    border-right: 2px solid var(--normal-texto);
}
.skill-header{
    color: var(--cor2);
    font-family: var(--font-title);
    font-weight: bolder;
    font-size: 1.10rem;
    background-color: #0e1a23a8;
    margin: -15px;
    padding: 15px;
}
.fa-code{
    color: var(--destaque-G);
}
.fa-shield-halved{
    color: var(--destaque-A);
}
.header{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 20px;
}
.nome{
    font-family: var(--font-terminal);
    color: var(--normal-texto);
}
.percentagem{
    font-family: var(--font-terminal);
    color: var(--destaque-G);
}
.percentagem-hacker{
    font-family: var(--font-terminal);
    color: var(--destaque-A);
}
.barra{
    margin-top: 10px;
    height: 6px;
    width: 100%;
    color: #94a3b836;
    border: 1px solid;
    background-color: var(--fundo);
}
.barra-percentagem{
    height: 100%;
    background-color: var(--destaque-G);
}
.barra-percentagem-hacker{
    height: 100%;
    background-color: var(--destaque-A);
}
.skill-container:nth-child(1){
    margin-bottom: 25px ;
    border: 1px solid #3bff145b;
    box-shadow: 0 0 10px 2px #3cff1426;
    transition: 0.2s;
}
.skill-container:nth-child(2){
    border: 1px solid #00EEFF5b;
    box-shadow: 0 0 10px 2px #00EEFF26;
    transition: 0.2s;
}
@media screen and (min-width:1024px) {
    #HABILIDADES{
        padding: 0px 100px;
        margin-top: 0px;
    }
}