@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Fira Code", monospace;
    cursor: default;
    user-select: none;
    caret-color: transparent;
}
:root{
    --fundo: #282d33;
    --letra: #8d9195;
    --destaque: #9651b4;
    --fundo-letra: #ffffff;
    --sombra: #000000c0;
}
h2{
    font-weight: normal;
}
html, body {
    height: 100%;
    color: var(--letra);
    background-color: var(--fundo);
    position: relative;
}
.pontos-i{
    position: absolute;
    left: 3%;
    top: 5%;
    z-index: 11;
}
/*Estilo do menu (header)-> inicio*/
header{
    width: 100%;
    display: flex;
    position: relative;
    gap: 35px;
    justify-content: end;
    align-items: center;
    height: 80px;
    font-size: 20px;
    background-color: var(--fundo);
    z-index: 10;
    position: fixed;
}
.img-p{
    position: absolute;
    left: 80%;
    bottom: -10%;
}
.header-inner {
    display: flex;
    gap: 35px;
    padding-right: 150px;
    position: relative;
    
}

.header-inner > a{
    text-decoration: none;
    color: var(--letra);
    font-weight: 500;
    position: relative;
}
.nav ::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--destaque);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}
.nav:hover ::after{
    width: 100%;
}
.nav:hover{
    color: var(--fundo-letra);
}
.edioma{
    font-weight: 650;
}
/*Estilo do menu (header)-> fim*/

/*Estilo do main (#inicio)-> inicio*/

#inicio{
    display: flex;
    justify-content: center;
    position: relative;
}

.inicio-container {
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  width: 100%;

  padding: 0 5%;
}
.perfil{
    padding-top: clamp(6rem, 15vh, 18rem);
    grid-column: 1;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.perfil > p{
    font-size: 20px;
    font-weight: 450;
}
.intro{
    text-align: center;
    margin-top: 20px;
}
.botao{
    display: inline-block;
    margin-top: 30px;
}
.botao > button{
    background-color: transparent;
    padding: 7px 20px;
    border: 1px solid;
    border-color: var(--destaque);
    color: var(--fundo-letra);
    font-size: 15px;
}
.botao > button:hover{
    background-color: var(--fundo);
    font-size: 16px;
    box-shadow: 10px 10px 20px  #181b1f9f;
}
.foto{
    width: 330px;
    height: 330px;
    border-radius: 50%;
    background-image: url(/assets/img/perfil.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}
.text-roxo{
    color: var(--destaque);
}
.texto > h1{
    font-size: clamp(3rem, 5vw, 5rem);
    font-weight: normal;
}
.texto > p {
    margin-top: 30px;
    font-size: 30px;
}
.texto > h1, span{
    color: var(--fundo-letra);
}

/*Estilo do main (#inicio)-> Fim*/



/*Inicio sobre-mim*/

#sobre{
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 150px;
    position: relative;
    display: grid;
    grid-template-columns: 1.3fr 3fr;
    margin-bottom: 100px;
}
.sobre-prof{
    grid-column: 1/2;
 
}
.foto-prof{


    grid-row: 1/2;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px var(--sombra);
    width: 250px;
    height: 250px;
    background-image: url(/assets/img/perfil.png);
    background-size: cover;
    margin-bottom: 20px;
}
.sobre-prof > div > p {
    font-weight: 500;
    color: var(--destaque);
}
.sobre-prof > div > h3{
    color: var(--fundo-letra);
    font-weight: 600;
}
.sobremim{
    grid-column: 2/3;
}
.sobremim > .titulo{
    
    color: var(--fundo-letra);
    font-weight: 450;
    margin-bottom: 20px;
    position: relative;
}
.sobremim > p{ 
    font-size: 20px;
}
.traco{
    background-image: linear-gradient(to right, var(--destaque), var(--fundo));
    height: 2px;
    width: 100%;
    margin-bottom: 50px;
}
.sobremim > p > a{
    font-weight: 700; 
    text-decoration: none; 
    color: var(--letra);
}
.sobremim > p  a:hover{

    text-decoration: underline;
}
/*Fim sobre mim*/
/*Inicia skills*/
#skills{
    margin-top: 130px;
    margin-left: 100px;
    margin-right: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#skills > h2 {
    align-self: flex-start;
    color: var(--fundo-letra);
    font-weight: 500;
    position: relative;
    padding-right: 20px;
    display: inline-block; /* faz o ::after se posicionar relativo só ao texto */
}
#skills > h2::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: var(--destaque);
    height: 2px;
    width: 200px;
    margin-left: 20px;
}

.skills{
    
    margin-top: 50px;
    display: grid;
    width: 70%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;

}

.skills > div{
    border: 1px solid var(--letra);
    border-radius: 5px;
    color: var(--fundo-letra);
    font-size: 18px;
    font-weight: 450;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px #181b1f9f;
    background-color: var(--fundo);
    z-index: 1;
}
.logo-skill{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
}
.css{
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.react{
    grid-column: 1/2;
    grid-row: 1/2;
    
}
.react > i {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #65DBFB;
    font-size: 75px;
}
.barra{
    width: 70%;
    height: 5px;
    background-color: var(--letra);
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.perc{
    background-color: var(--destaque);
    height: 100%;
}
.html{
    
    grid-column: 2/3;
    grid-row: 1/2;
}
.js{
    grid-column: 4/5;
    grid-row: 1/2;
}
.js > i{
    margin-top: 15px;
    margin-bottom: 10px;
    color: #F7E024;
    font-size: 75px;
}
.git{
    grid-column: 1/2;
    grid-row: 2/3;
}
.git > i{
    margin-top: 15px;
    margin-bottom: 10px;
    color: #F3542F;
    font-size: 75px;
}
.flesk{
    grid-column: 2/3;
    grid-row: 2/3;
}
.python{
    grid-column: 4/5;
    grid-row: 2/3;
}
.quadrado-g{
    position: absolute;
    border: 1px solid var(--letra);
    height: 30px;
    width: 30px;
    left: 107%;
    top: 70%;
    box-shadow: 2px 2px 5px var(--sombra)
}
.quadrado-p{
    position: absolute;
    border: 1px solid var(--letra);
    height: 60px;
    width: 60px;
    left: 101%;
    top: 35%;
    box-shadow: 2px 2px 5px var(--sombra);
}
.quadrado-m{
    position: absolute;
    border: 1px solid var(--letra);
    height: 45px;
    width: 45px;
    left: 93%;
    top: 73%;
    box-shadow: 2px 2px 5px var(--sombra);
}

.ponto-g-skill{
    position: absolute;
    left: 3%;
    top: 30%;
}
.p-c{
    
    position: absolute;
    left: 100%;
    top: 62%;
}
.p-c2{
    position: absolute;
    left: 93%;
    top: 45%;
}
/*fim skills*/
/*Inicia projetos*/
#projetos{
    margin-top: 130px;
    margin-left: 100px;
    margin-right: 150px;
}
.cabeca{
    color: var(--fundo-letra);
    display: flex;
    justify-content: space-between;
}
.cabeca > button{
    background-color: transparent;
    border: none;
    color: var(--letra);
    text-shadow: 2px 2px 10px var(--sombra);
    
}
.cabeca > h2::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: var(--destaque);
    height: 2px;
    width: 500px;
    margin-left: 20px;
}
.cabeca > button:hover{
    color: var(--fundo-letra);
    font-size: 1em;
    text-shadow: 5px 5px 5px var(--sombra);
}
.cabeca h2{
    font-weight: 450;
}
/*fim projetos*/
/*Inicio contactos*/
#contacto{
    margin-top: 130px;
    margin-left: 100px;
    margin-right: 150px;
    position: relative;

}

.cont-q{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid var(--letra);
    left: -15%;
    top: 70%;
}
#contacto > h2{
    color: var(--fundo-letra);
    font-weight: 450;
    display: inline-block;
    margin-bottom: 50px;
}
#contacto > h2::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: var(--destaque);
    height: 2px;
    width: 350px;
    margin-left: 20px;
}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;

}
.container > div{
    border: 1px solid var(--letra);
    padding: 20px;
    width: fit-content;
}
.container > div > span > a{
    color: var(--letra);
    text-decoration: none;
    margin-top: 10px;
}
.container > div > span > a:hover{
    color: var(--fundo-letra);
    font-weight: 500;
}
.fala{
    color: var(--fundo-letra);
    font-weight: 500;
    margin-bottom: 10px;
}
.container > div > span > i{
    color: var(--letra);
    font-size: 18px;
}
/*fim contactos*/

/*Inicio footer*/
footer{
    margin-top: 130px;

    border-top: 1px solid var(--letra);
    text-align: center;
}
