@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Fira Code", monospace;
    cursor: default;
    user-select: none;
    caret-color: transparent;
}
:root{
    --fundo: #282d33;
    --letra: #8d9195;
    --destaque: #9651b4;
    --fundo-letra: #ffffff;
    --sombra: #000000c0;
}
/* h2{
    font-weight: normal;
}
html, body {
    height: 100%;
    color: var(--letra);
    background-color: var(--fundo);
    position: relative;
}
.pontos-i{
    position: absolute;
    left: 3%;
    top: 5%;
    z-index: 11;
}

footer{
    margin-top: 130px;

    border-top: 1px solid var(--letra);
    text-align: center;
} */