.skills-section{
    padding: 0 15px;
    padding-bottom: 50px;
}
.skills-section .section-title::after {
    background-color: var(--cor01);
    box-shadow: 0 0 12px 3px var(--cor01-brilho);
}
.skills-section__container{
    margin-top: 50px;
}
.skills-card {
    padding: 15px;
    border: 1px solid;
    position: relative;
    background-color: var(--bg);
}
.skills-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    border-top: 2px solid;
    border-left: 2px solid;
}
.skills-card::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid;
    border-right: 2px solid;
}

.skills-card__header{
    color: var(--texto-secundario);
    font-family: var(--font-title);
    font-weight: bolder;
    font-size: 1.10rem;
    background-color: var(--bg3);
    margin: -15px;
    padding: 15px;
}
.skill-item__header{
    display: flex;
    justify-content: space-between;
    font-size: 0.8125rem;
    margin-top: 30px;
}
.skill-item__name,
.skill-item__value{
    font-family: var(--font-terminal);
}
.skill-item__bar{
    margin-top: 10px;
    height: 6px;
    width: 100%;
    color: var(--cor04-borda);
    border: 1px solid;
    background-color: var(--bg);
    overflow: hidden;
}
.skill-item__progress{
    height: 100%;
    background-image: linear-gradient(to right, var(--cor02) 90%, #ffffff);
    width: 0;
    transition: width 1.5s ease;
}
.skill-item__progress--security{
    height: 100%;
    background-image: linear-gradient(to right, var(--cor01) 90%, #ffffff);
    width: 0;
    transition: width 1.5s ease;
}
.skills-card:nth-child(1){
    margin-bottom: 25px ;
    border: 1px solid var(--cor02-borda);
    box-shadow: 0 0 10px 2px var(--cor02-brilho);
    transition: 0.2s;
}
.skills-card:nth-child(2){
    border: 1px solid var(--cor01-borda);
    box-shadow: 0 0 10px 2px var(--cor01-brilho);
    transition: 0.2s;
}
.skills-card__title{
    font-family: var(--font-title);
    color: var(--texto-secundario);
    font-size: 17px;
}
#skill{
    opacity: 0;
    transform: translateY(30px);
    transition: 3s;
}
#skill.show{
    transform: translateX(0px);
    opacity: 1;
}
@media screen and (min-width: 500px){
    .skills-section{
        padding: 0 100px;
        padding-bottom: 100px;
    }
}
@media screen and (min-width: 800px){
    .skills-section{
        padding: 0 150px;
        padding-bottom: 100px;
    }
}
@media screen and (min-width: 1024px){
    .skills-section{
        padding: 0 70px;
        padding-bottom: 100px;
    }
    .skills-card:nth-child(1) {
        margin-bottom: 0;
    }
    .skills-section__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
@media screen and (min-width: 1280px){
    .skills-section{
        padding: 0 100px;
        padding-bottom: 100px;
    }
    .skills-card:nth-child(1):hover{
        border: 1px solid var(--cor02);
        box-shadow: 0 0 10px 2px #3bff146c;
    }
    .skills-card:nth-child(2):hover{
        border: 1px solid var(--cor01);
        box-shadow: 0 0 10px 2px #00eeff65;
    }
}